<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--For favicon, we just put it into src/main/resources/favicon.ico OR src/main/resources/static/favicon.ico, by default the name of file must be "favicon.ico"-->
<meta charset="UTF-8" />
<title th:text="${header}"></title>

</head>
<body>
	<h1 th:text="${header}"></h1>
	<h2 th:text="${invoice.description}"></h2>
	<div>
		<h4>
			Customer: <span th:utext="${invoice.customer.name}"></span>
		</h4>
		<h4>
			ID:<span th:utext="${invoice.customer.rfc}"></span>
		</h4>
		<!-- UTEXT helps us not to escape special characters -->
	</div>
	<h3>Invoice Details</h3>
	<table>
		<thead>
			<tr>
				<th>Product ID:</th>
				<th>Product Name:</th>
				<th>QTY:</th>
				<th>Price per unit:</th>
				<th>Total:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${invoice.items}">
				<td th:text="${item.itemNumber}"></td>
				<td th:text="${item.product.name}"></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${item.product.price}"></td>
				<td th:text="${item.product.price * item.quantity}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>